.live-anywhere__header {
  font-size: 27px;
  font-weight: bold;
  margin: 40px 20px;
}

.live-anywhere__column img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.live-anywhere {
  display: flex;
  flex-direction: column;
}

.live-anywhere__all {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 20px;
}

.live-anywhere__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

@media screen and (max-width: 950px) {
  .live-anywhere__column:last-child {
    display: none;
  }
}

@media screen and (max-width: 715px) {
  .live-anywhere__column:nth-child(3) {
    display: none;
  }
}
